@media screen and (max-width: 749px) {
  * {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .navbar {
    padding: 1rem;
  }
  .brand {
    display: none;
  }
  .banner-section {
    padding: 0;
  }
  .banner {
    height: 50vh;
    background-size: cover;
  }
  .banner p {
    font-size: 30px;
  }
  .experts {
    padding: 10px;
  }
  .best-expart-text {
    font-size: 30px;
  }
  .content-container {
    display: block;

    margin-top: 10px;
  }
  .experts-content-text {
    margin: 0;
  }
  .exprience-container {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .exprience-container div {
    margin-right: 20px;
    margin-top: 10px;
  }
  .expreince {
    font-size: 50px;
  }
  .tech-benner {
    height: 100%;
    padding: 0;
    margin-top: 50px;
  }
  .tech-benner {
    padding: 10px;
  }
  .tech-benner .choice {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .card-group {
    grid-template-columns: 1fr;
    position: inherit;
  }
  .industries-container {
    border: none;
    margin: 20px 0;
  }
  .industry {
    padding: 10px;
  }
  .industry .serve {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .industries {
    display: block;
  }
  .industries .content {
    flex-direction: column;
  }
  .content {
    margin-top: 50px;
  }
  .machine-container {
    padding: 20px;
  }
  .thir-line-container img {
    display: none;
  }
  .factory {
    grid-template-columns: repeat(2, 1fr);
  }
  .factory div {
    text-align: center;
    margin-top: 20px;
  }

  .companies-container {
    padding: 50px 20px;
  }
  .companies-logo {
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .companies-logo img {
    margin: 20px 30px;
  }
  .get-in-touch-container {
    grid-template-columns: 1fr;
    margin-top: 80px;
  }
  .get-in-touch {
    padding: 10px;
  }
  .company-info-container {
    position: inherit;
    grid-template-columns: 1fr;
  }
  .map-img {
    margin: 0 auto;
  }
  .footer {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .footer-third-pera {
    text-align: center;
  }
}
