/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  max-width: 1600px;
  background-color: #e5e5e5;
}

/* navbar css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.brand {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 700;
  font-size: 28.75px;
  line-height: 30px;
  text-transform: uppercase;
  color: #222222;
}

.touch {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #222222;
}
/* banner section */
.banner-section {
  padding: 0 67px;
}
.banner {
  background-image: url("./assets/Group\ 297.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 50px;
}
.banner p {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 600;
  font-size: 100px;
  color: #ffffff;
}

/* main section */

/* --------------------------------------------------------
         Team Experts
-------------------------------------------------------------*/
.experts {
  margin: 160px 267px;
}
.team-text {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 500;
  font-size: 16px;

  color: #ec2232;
}
.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.best-expart-text {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 500;
  font-size: 60px;

  color: #222222;
  margin-top: 23px;
}
.experts-content-text {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  margin: 0 41px;
}
.exprience-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.expreince {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 600;
  font-size: 110px;

  color: #222222;
}

.expreince span {
  color: #ec2232;
}
.location {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 500;
  font-size: 30px;

  color: #222222;
}

/* --------------------------------------------------------
         Technologies
-------------------------------------------------------------*/
.tech-benner {
  background-image: url("./assets/Mask\ group.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px;
  margin-bottom: 100px;
  height: 897px;
}
.approch {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 500;
  font-size: 16px;

  color: #ec2232;
}
.tech-benner .choice {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 500;
  font-size: 70px;

  color: #222222;
}
.card-group {
  position: relative;
  top: 183px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card img {
  max-width: 100%;
}
.card p {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 500;
  font-size: 30px;

  color: #222222;
  background-color: #ffffff;
  padding: 20px 40px;
}

/* --------------------------------------------------------
         Industry
-------------------------------------------------------------*/

.industry {
  padding: 150px;
}
.industry .serve {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 600;
  font-size: 90px;
  color: #222222;
}
.industry .benchmark {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 300;
  font-size: 25px;
  color: #9198a0;
  padding: 20px;
}
.industries-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid #ec2232;
  margin-top: 110px;
}
.industries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 56px;
  gap: 20px;
}
.industries-content {
  margin-top: 30px;
}

.content .number {
  margin-right: 25px;
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 600;
  font-size: 25px;
  color: #ebd3cd;
}
.content img {
  margin-right: 30px;
  height: 100px;
  width: 100px;
}
.industries .content {
  display: flex;
}
.industry-content h1 {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 600;
  font-size: 30px;
  color: #222222;
}
.industry-content p {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

/* --------------------------------------------------------
         machine
-------------------------------------------------------------*/
.machine-container {
  padding: 100px 170px;
  background-image: url("./assets/Mask\ group\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first-line {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.second-line {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 500;
  font-size: 70px;
  color: #ffffff;
}
.thir-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-line {
  font-family: "ITC Avant Garde Gothic Std";
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  margin-top: 19px;
  margin-bottom: 91px;
}
.factory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.factory div p {
  font-family: "ITC Avant Garde Gothic Std";
  font-style: normal;
  font-weight: 500;
  font-size: 42.1214px;
  color: #ffffff;
}
.factory div span {
  font-family: "ITC Avant Garde Gothic Std";
  font-style: normal;
  font-weight: 500;
  font-size: 23.1975px;
  color: #ffffff;
}
