/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
.body {
  max-width: 1600px;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "ITC Avant Garde Gothic Std";
  /* overflow: hidden; */
}

/* navbar css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.brand {
  font-weight: 700;
  font-size: 28.75px;
  line-height: 30px;
  text-transform: uppercase;
  color: #222222;
}

.touch {
  font-weight: 500;
  font-size: 18px;
  color: #222222;
  border-bottom: 2px solid #222222;
}
/* banner section */
.banner-section {
  padding: 0 67px;
}
.banner {
  background-image: url("./assets/Group\ 297.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 50px;
}
.banner p {
  font-weight: 600;
  font-size: 100px;
  color: #ffffff;
}

/* main section */

/* --------------------------------------------------------
         Team Experts
-------------------------------------------------------------*/

.team-text {
  font-weight: 500;
  font-size: 16px;

  color: #ec2232;
}
.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.best-expart-text {
  font-weight: 500;
  font-size: 60px;

  color: #222222;
  margin-top: 23px;
}
.experts-content-text {
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  margin: 0 41px;
}
.exprience-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.expreince {
  font-weight: 600;
  font-size: 110px;

  color: #222222;
}

.expreince span {
  color: #ec2232;
}
.location {
  font-weight: 500;
  font-size: 30px;

  color: #222222;
}

/* --------------------------------------------------------
         Technologies
-------------------------------------------------------------*/
.tech-benner {
  background-image: url("./assets/Mask\ group.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px;
  margin-bottom: 100px;
  height: 897px;
}
.approch {
  font-weight: 500;
  font-size: 16px;

  color: #ec2232;
}
.tech-benner .choice {
  font-weight: 500;
  font-size: 70px;

  color: #222222;
}
.card-group {
  position: relative;
  top: 183px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card img {
  max-width: 100%;
}
.card p {
  font-weight: 500;
  font-size: 30px;

  color: #222222;
  background-color: #ffffff;
  padding: 20px 40px;
}

/* --------------------------------------------------------
         Industry
-------------------------------------------------------------*/

.industry {
  padding: 150px;
}
.industry .serve {
  font-weight: 600;
  font-size: 90px;
  color: #222222;
}
.industry .benchmark {
  font-weight: 300;
  font-size: 25px;
  color: #9198a0;
  padding: 20px;
}
.industries-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid #ec2232;
  margin-top: 110px;
}
.industries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 56px;
  gap: 20px;
}
.industries-content {
  margin-top: 30px;
}

.content .number {
  margin-right: 25px;

  font-weight: 600;
  font-size: 25px;
  color: #ebd3cd;
}
.content img {
  margin-right: 30px;
  height: 100px;
  width: 100px;
}
.industries .content {
  display: flex;
}
.industry-content h1 {
  font-weight: 600;
  font-size: 30px;
  color: #222222;
}
.industry-content p {
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

/* --------------------------------------------------------
         machine
-------------------------------------------------------------*/
.machine-container {
  padding: 100px 170px;
  background-image: url("./assets/Mask\ group\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first-line {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.second-line {
  font-weight: 500;
  font-size: 70px;
  color: #ffffff;
}
.thir-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-line {
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  margin-top: 19px;
  margin-bottom: 91px;
}
.factory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.factory div p {
  font-weight: 500;
  font-size: 42.1214px;
  color: #ffffff;
}
.factory div span {
  font-weight: 500;
  font-size: 23.1975px;
  color: #ffffff;
}

/* --------------------------------------------------------
         machine
-------------------------------------------------------------*/
.companies-container {
  padding: 100px;
}
.companies-brand {
  font-weight: 500;
  font-size: 25px;
  color: #e82232;
  text-align: center;
}
.companies-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 88px;
}
/* --------------------------------------------------------
         Get In Touch
-------------------------------------------------------------*/

.get-in-touch-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.get-in-touch {
  background-color: #0e3466;
  padding: 80px;
}
.get-in-touch h1 {
  font-weight: 500;
  font-size: 65px;
  color: #ffffff;
}
.get-in-touch hr {
  padding: 3px;
  background-color: white;
  width: 35%;
  margin-top: 32px;
  margin-bottom: 38px;
}
.input-icons img {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 20px;
  min-width: 40px;
  margin-top: 24px;
}

.input-field {
  width: 100%;
  padding: 20px 50px;
  text-align: start;
  margin-top: 24px;
  border-radius: 8px;
  font-size: 20px;
}
.submit-btn {
  background-color: #e82232;
  padding: 22px 66px;
  border-radius: 44px;
  border: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
}
.map {
  padding: 100px 0;
}
.company-info-container {
  position: relative;
  right: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #f8f8f8;
}
.company-info {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company-info h1 {
  font-family: "AvertaStd-Regular";
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #192437;
  margin-top: 20px;
}
.company-info p {
  font-family: "AvertaStd-Light";
  font-size: 20px;
  line-height: 22px;
  color: #828282;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #828282;
}
.map-img {
  max-width: 100%;
}

/* --------------------------------------------------------
         Get In Touch
-------------------------------------------------------------*/
.footer {
  background: #181818;
  padding: 96px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #ffffff;
}

.footer-first-pera {
  font-weight: 500;
  font-size: 35px;
  line-height: 70px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-first-pera ul li {
  list-style: none;
}

.industry-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;

  font-weight: 300;
  font-size: 22px;
  line-height: 48px;
}

.footer-third-pera {
  text-align: end;

  font-weight: 300;
  font-size: 22px;
  line-height: 48px;
}
